<div class="main-body-wrapper">
   <!-- Breadcrumbs section starts -->       
   <div class="container block-45">
      <div class="row">
         <div class="col-md-12">
            <div class="breadcrumbs-block breadcrumbs-product">
               <!-- breadcrumbs starts -->               
               <ol class="breadcrumb">
                  <li><a href="#">Home </a></li>
                  <li><a href="#">Product </a></li>
                  <li class="active">Product List </li>
               </ol>
               <!-- breadcrumbs ends -->             
            </div>
         </div>
      </div>
      <!-- Breadcrumbs section ends -->         <!-- product details starts -->
      <div class="row pd-detail-mb">
        <!-- display details cloud zoom flexslider -->
        <%= render 'show_page_main_slider' %>
        <!-- display detail description and options -->           
        <div class="col-md-7">
           <!-- product display detail description -->             
           <div class="product-display-detail-desc block-90">
              <h1 class="item-head"><%= @product.name %> </h1>
              <span class="item-price"><span class="prev-price">$ 180 </span><%= number_to_currency @product.price %> </span>               
              <ul class="item-brief-desc">
                 <li><span>Brand: </span>Versace </li>
                 <li><span>Availability: </span>In Stock </li>
                 <li><span>Product Code: </span>123 </li>
              </ul>
              <%= form_tag product_path(@product.permalink), :method => :post, :remote=>true do %>
                <div class="row">
                   <div class="col-sm-6 ">
                      <div class="item-short item-color">
                         <h1>Color </h1>
                         <div class="select-wrap">
                          <%= select_tag 'colors', options_for_select(@colors ? @colors : "" , :selected => @product.get_color),{:prompt=>"Please select", :class=>"select select-dd"}%>
                         </div>
                      </div>
                      <div class="item-short item-color">
                         <h1>Size </h1>
                         <div class="select-wrap">
                            <%= select_tag 'size', options_for_select([6,7,8,9,10,11,12,13,14,15 ]),{:prompt=>"Please select", :class=>"select select-dd", :required=>true}%>
                         </div>
                      </div>
                      <div class="item-short item-color">
                         <h1>Qty </h1>
                         <div class="select-wrap">
                            <%= select_tag 'quantity', options_for_select([1, 2, 3 ]),{:prompt=>"Please select", :class=>"select select-dd", :required=>true}%>
                         </div>
                      </div>
                   </div>
                   <div class="col-sm-6 item-short item-size">
                      <button id="add-to-cart" class="add-to-cart" style="border:none;"> Add to Cart </button>
                      <!-- <a id="add-to-cart"  class="add-to-cart">Add to Cart </a> -->
                      <%#= link_to "Add to Cart", product_path(@product.permalink), :method => :post, :class => "add-to-cart" , :remote=>true %>                   
                      <div class="btn-group">                     <a href="#" class="btn btn-link">+ Add to Wishlist </a>                     <a href="#" class="btn btn-link">+ Compare </a>                   </div>
                   </div>
                </div>
              <% end %>
              <div class="item-quick-overview">
                 <h1>Quick Overview: </h1>
                 <p><%= @product.get_short_description %></p>
              </div>
              <div class="social-share">                 <span class='st_sharethis'></span>                 <span class='st_facebook'></span>                 <span class='st_twitter'></span>                 <span class='st_linkedin'></span>                 <span class='st_pinterest'></span>                 <span class='st_email'></span>               </div>
           </div>
        </div>
      </div>

      <div class="row block-45">
         <!-- product details tab feature -->           
         <div class="col-md-12 review-tab">
            <ul class="nav nav-tabs" id="myTab">
               <li class="active"><a href="#description" data-toggle="tab">Description </a></li>
               <li><a href="#ptags" data-toggle="tab">In the box? </a></li>
               <li><a href="#reviews" data-toggle="tab">Reviews </a></li>
            </ul>
            <div class="tab-content">
               <div class="tab-pane active" id="description">
                  <h1>Product Description </h1>
                  <p><%= @product.get_description %></p>
                  <ul>
                    <% @product.get_product_attributes.each do |attribute| %>
                     <li><%= attribute.key %> ______ <%= attribute.value %></li>
                     <%end%>
                  </ul>
               </div>
               <div class="tab-pane" id="reviews">                I love these _____ because they are so ______ and you can wear ____ to anything. They're very _____ but in my opinion ____'_ what a pair of _____ should be. If I ____ fancy trousers then I ___ fancy TROUSERS, not jeans.                ____'_ has always been my _________ brand of jeans. I __ agree that the US ____ are of inferior quality, ___ only slightly. I guess ___ do get what you ___ for. Nonetheless, good product, ____ fit, five stars (going __ price-quality), although next time _'__ opt for the UK ____ again!                  <br /><br />                Husband very pleased ____ these... Fit is great, 34/34 and they look good ___ he says they are _____...____ been through a few ______ and holding up as ___ would expect....                  <br /><br />                Just took delivery __ a black pair, delivery ___ much slower than usual ______ standard but within the _________ window. Jeans are labelled __ made in Mexico so _ guess they are genuine __ stock. The fit is ____, the colour is a ____ deep black and even ___ over the jeans, the ______ is excellent and the _____ is heavy without being _____. It's all I can __ to stop myself ordering ____ pairs straight away.The range __ sizes available is fantastic, __ alterations in length needed .                </div>
               <div class="tab-pane" id="ptags"><%= @product.get_in_the_box %></div>
            </div>
         </div>
      </div>
      <!-- home page featured product section starts -->         
      <%= render 'related_products' %>
   </div>
</div>

<script type="text/javascript">
  $("#colors").change(function(){
    var color = $(this).val();
    $.ajax({
          url: '<%=product_path(@product.permalink)%>',
          data: {"color": color},
          method: 'get',
          format: 'js',
          success: function(data) {
            
          }
        });
  });



  // $("#add-to-cart").click(function(){
  //   alert("bbbbbb")
  //   var color = $("#colors").val();
  //   var size = $("#sizes").val();
  //   var quantity = $("#quantity").val();
  //   $.ajax({
  //         url: '<%=product_path(@product.permalink)%>',
  //         data: {"color": color, "size": size, "quantity": quantity},
  //         type: 'post',
  //         format: 'js',

  //         success: function(data) {
            
  //         }
  //       });
  // });
</script>


